<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Vinyl by Lightmann</string>
        </dict>
		<dict>
          <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.lightmann.vinylprefs</string>
			<key>label</key>
            <string>Enabled (Respring Required)</string>
            <key>key</key>
            <string>isEnabled</string>
            <key>PostNotification</key>
			<string>me.lightmann.vinylprefs-updated</string>
			<key>alternateColors</key>
			<true/>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Configuration</string>
        </dict>
       <dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>me.lightmann.vinylprefs</string>
			<key>key</key>
			<string>configuration</string>
			<key>label</key>
			<string>Configuration</string>
			<key>default</key>
			<integer>0</integer>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>ProgressBar</string>
				<string>VolumeBar</string>
				<string>Both</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>id</key>
			<string>ModeCell</string>
			<key>PostNotification</key>
			<string>me.lightmann.vinylprefs-updated</string>
		</dict>
		<dict>
          <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lightmann.vinylprefs</string>
			<key>label</key>
            <string>Show Connectivity Button</string>
            <key>key</key>
            <string>showConnectButton</string>
            <key>PostNotification</key>
			<string>me.lightmann.vinylprefs-updated</string>
			<key>alternateColors</key>
			<true/>
        </dict>
		<dict>
          <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lightmann.vinylprefs</string>
			<key>label</key>
            <string>Standard Route Label</string>
            <key>key</key>
            <string>stndRouteLabel</string>
            <key>PostNotification</key>
			<string>me.lightmann.vinylprefs-updated</string>
			<key>alternateColors</key>
			<true/>
        </dict>
		<dict>
          <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lightmann.vinylprefs</string>
			<key>label</key>
            <string>Hide Source Icon (iOS 14.2+)</string>
            <key>key</key>
            <string>hideSrcIcon</string>
            <key>PostNotification</key>
			<string>me.lightmann.vinylprefs-updated</string>
			<key>alternateColors</key>
			<true/>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Artwork and Player Corner Radius</string>
			<key>footerText</key>
			<string>*Default is 13*</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>13</real>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>60</real>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>me.lightmann.vinylprefs</string>
			<key>key</key>
			<string>cornerRadius</string>
			<key>isSegmented</key>
			<true/>
			<key>PostNotification</key>
			<string>me.lightmann.vinylprefs-updated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Control Spacing</string>
			<key>footerText</key>
			<string>*Default is 0*</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0</real>
			<key>min</key>
			<real>-100</real>
			<key>max</key>
			<real>100</real>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>me.lightmann.vinylprefs</string>
			<key>key</key>
			<string>controlSpacing</string>
			<key>isSegmented</key>
			<true/>
			<key>PostNotification</key>
			<string>me.lightmann.vinylprefs-updated</string>
		</dict>
		 <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Background Opacity Level</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>100</real>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>100</real>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>me.lightmann.vinylprefs</string>
			<key>key</key>
			<string>transparencyLevel</string>
			<key>isSegmented</key>
			<true/>
			<key>PostNotification</key>
			<string>me.lightmann.vinylprefs-updated</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Text and controls color</string>
			<key>footerText</key>
			<string>*Some changes require a respring in order to take effect*</string>
        </dict>
       <dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>me.lightmann.vinylprefs</string>
			<key>key</key>
			<string>textcolor</string>
			<key>label</key>
			<string>Textcolor</string>
			<key>default</key>
			<integer>2</integer>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>White</string>
				<string>Black</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>2</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<key>id</key>
			<string>ModeCell</string>
			<key>PostNotification</key>
			<string>me.lightmann.vinylprefs-updated</string>
		</dict>
		 <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Apply</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
